#wrapper {
    width: 50%;
    margin-left: 25%;
}

#page-title {
    text-align: center;
    font-family: Gloock, serif;
}

#page-title, .latest {
    font-family: Gloock, serif;
}

.publication {
    border: solid lightgray;
    border-width: 3px 0px 0px 0px;
}

.book-title {
    margin-bottom: 3px;
    margin-top: 5px;
    text-transform: uppercase;
}

.book-author {
    margin-top: 0px;
    margin-bottom: 8px
}

.labels {
    margin-bottom: 10px;
}

.labels > label {
    padding: 3px 6px;
    border-radius: 10%;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 10pt;
}

.book-label {
    background-color: cadetblue;
    color: whitesmoke;
}

.genre-label {
    background-color: darkviolet;
    color: whitesmoke;
}
